# Default ignored files
/shelf/
/workspace.xml
/.idea/
/venv/
/timetrials_figures/
/maverick_results/
/figures/
/data/0-12MasterSite10001121_081526_XYZ_Ch1.023.csv
/data/90-12MasterSite20001121_090126_XYZ_Ch1.024.csv
/kv-fixing/
/.vscode/
